{% extends 'base.html'%}

{% block content %}
<div class="header">
    <h1><i class="fas fa-book"></i> MEUS LIVROS </h1>
</div>

<div class="card">
    <div class="card-body">

        <a class="btn btn-success" href="{% url 'livro_add' %}">Adicionar</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Subtítulo</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in livro %}
                    <tr>
                        <td>{{ item.titulo }}</td>
                        <td>{{ item.subtitulo }}</td>
                        <td>{{ item.autor }}</td>
                        <td>{{ item.editora }}</td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'livro_edit' item.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'livro_delete' item.id %}" 
                            onclick="return confirm('Tem certeza de que deseja deletar?')">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="botao-voltar">
    <a href="{% url 'home' %}">Voltar</a>
</div>

{% endblock content %}